/*
selector {
właściwość: wartość;
}
*/
body {
    background-color: rgb(167, 79, 79);
{


    article {
        border: 5px dashed: rgb(167, 79, 79);
    {

    TopArticle{
        background-color: rgb(225, 130, 130);
        {
