/*
selector {
właściwość: wartość;
}
*/
body {
    background-color: rgb(167, 79, 79);}



    

            h1{
                /* 1 wartość - z każdej strony*/
                /* 2 wartości - góra i dół, prawo i lewo */
                padding:0;
                /* 4 wartości - góra, prawo, dół, lewo */
                margin:0;
                background-color: yellow;

            
            }
            .topheader{
                border: 2px dashed yellow;
                display: flex;
                justify-content: space-between;}

            /* wszyscy potomkowie topheadera */
            .topheader h1,
            .topheader nav {
                border: 10px solid red;
                margin: 2px;}

                .messageForm{
                    border: 2px dashed red;
                    display: flex;
                    flex-direction: column;
                    align-items: center;}
                    
                    main{
                        display:flex;
                        flex-direction: column;
                       align-items: center;
                    }
                    .toparticle header{
                        border: 5px dashed rgb(225, 130, 130);
                        display:flex;
                        flex-direction: column;
                       align-items: center;}

                       header{
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: red;
                       }

                       .toparticle{

                    display:flex;
                    flex-direction: column;
                    align-items: center;
                       }

                       