body{
    background-color: hsl(30, 38%, 92%);
}

main{
    background-color: hsl(0, 0%, 92%);
    border-radius: 1rem;
}

header img{
    max-width: 100%;
    border-radius: 1rem 1 rem 0 0;
}

h2{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    letter-spacing: 5px;
    margin:0;
}

h1{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
}

main > section{
    padding:1rem;
}